<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python

2.R Language

3.Julia

Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.Numpy

3.Matplotlib

4.Scikit learn

|Data Sciennce Tools|
|---------------------|
|Tableau|
|Apache Spark|
|Apache hadoop|
|Mongo DB|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
round(200/60, 1)

3.3

__Objectives:__

* Arithmetic Operations
* Famous Tools for Data Science
* Various Libraries used for data science
* Popular Languages for Data Science
* Heading Styles
* Comment Lines

## Author
M Samith Reddy